.projects-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: 'Concert One', cursive;
  top: 5em;
}

.projects-container #title {
  position: absolute;
  top: 2em;
  color: white;
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.projects-container #caseStudy {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 9em;
  height: 2.5em;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  position: absolute;
  top: 10em;
  background-color: #44b6cd;
  opacity: 0;
  -webkit-transition: opacity ease-in 0.2s;
  transition: opacity ease-in 0.2s;
}

.projects-container #caseStudy:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
          box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
  -webkit-transition: -webkit-box-shadow .4s ease-in;
  transition: -webkit-box-shadow .4s ease-in;
  transition: box-shadow .4s ease-in;
  transition: box-shadow .4s ease-in, -webkit-box-shadow .4s ease-in;
}

.projects-container .project-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30vw;
  min-width: 20em;
  height: 20em;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: url(./SpaceTourist.png);
  background-size: cover;
}

.projects-container .project-1:hover {
  -webkit-box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

.projects-container .project-1:hover #title, .projects-container .project-1:hover #caseStudy {
  opacity: 1;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.projects-container .project-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30vw;
  min-width: 20em;
  height: 20em;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: url(./Loopstudio.jpg);
  background-size: cover;
}

.projects-container .project-2:hover {
  -webkit-box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

.projects-container .project-2:hover #title, .projects-container .project-2:hover #caseStudy {
  opacity: 1;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.projects-container .project-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30vw;
  min-width: 20em;
  height: 20em;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: url(./Snap.jpg);
  background-size: cover;
}

.projects-container .project-3:hover {
  -webkit-box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
}

.projects-container .project-3:hover #title, .projects-container .project-3:hover #caseStudy {
  opacity: 1;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

@media (min-width: 600px) and (max-width: 1140px) {
  .projects-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-container #title {
    position: absolute;
    top: 16em;
    z-index: 100;
    color: black;
    opacity: 1;
  }
  .projects-container #caseStudy {
    opacity: 1;
    width: 9em;
    height: 2.5em;
    border-radius: 20px;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 30em;
    z-index: 100;
    background-color: #44b6cd;
  }
  .projects-container #caseStudy:hover {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
            box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
    -webkit-transition: -webkit-box-shadow .2s ease-in;
    transition: -webkit-box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
  }
  .projects-container .project-1 {
    width: 80vw;
    height: 30em;
    background: url(./SpaceTourist.png);
    background-size: cover;
    background-position: left;
  }
  .projects-container .project-1:hover {
    -webkit-box-shadow: 0 0 0 0 inset;
            box-shadow: 0 0 0 0 inset;
  }
  .projects-container .project-2 {
    margin-top: 20em;
    width: 80vw;
    height: 30em;
    background: url(./Loopstudio.jpg);
    background-size: cover;
    background-position: left;
  }
  .projects-container .project-2:hover {
    -webkit-box-shadow: 0 0 0 0 inset;
            box-shadow: 0 0 0 0 inset;
  }
  .projects-container .project-3 {
    margin-top: 20em;
    width: 80vw;
    height: 30em;
    background: url(./Snap.jpg);
    background-size: cover;
    background-position: left;
  }
  .projects-container .project-3:hover {
    -webkit-box-shadow: 0 0 0 0 inset;
            box-shadow: 0 0 0 0 inset;
  }
}

@media (max-width: 600px) {
  .projects-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-container #title {
    position: absolute;
    top: 8em;
    z-index: 100;
    color: black;
    opacity: 1;
  }
  .projects-container #caseStudy {
    opacity: 1;
    width: 9em;
    height: 2.5em;
    border-radius: 20px;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 17em;
    z-index: 100;
    background-color: #44b6cd;
  }
  .projects-container #caseStudy:hover {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
            box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
    -webkit-transition: -webkit-box-shadow .2s ease-in;
    transition: -webkit-box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
  }
  .projects-container .project-1 {
    width: 80vw;
    height: 15em;
    background: url(./SpaceTourist.png);
    background-size: cover;
    background-position: center;
  }
  .projects-container .project-1:hover {
    -webkit-box-shadow: 0 0 0 0 inset;
            box-shadow: 0 0 0 0 inset;
  }
  .projects-container .project-2 {
    margin-top: 15em;
    width: 80vw;
    height: 15em;
    background: url(./Loopstudio.jpg);
    background-size: cover;
    background-position: left;
  }
  .projects-container .project-2:hover {
    -webkit-box-shadow: 0 0 0 0 inset;
            box-shadow: 0 0 0 0 inset;
  }
  .projects-container .project-3 {
    margin-top: 15em;
    width: 80vw;
    height: 15em;
    background: url(./Snap.jpg);
    background-size: cover;
    background-position: left;
  }
  .projects-container .project-3:hover {
    -webkit-box-shadow: 0 0 0 0 inset;
            box-shadow: 0 0 0 0 inset;
  }
}
/*# sourceMappingURL=Projects.css.map */