.projects-container{
      width: 100vw;
      display: flex; 
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      font-family: 'Concert One', cursive;
      top: 5em;
       #title{
                  position: absolute;
                  top: 2em;
                  color: white;
                  opacity: 0;
                  transition: all ease-in 0.3s;
            }
            #caseStudy{
                  width: 9em;
                  height: 2.5em;
                  border-radius: 20px;
                  font-size: 20px;
                  border: none;
                  position: absolute;
                  top: 10em;
                  background-color: rgb(68, 182, 205);
                  opacity: 0;
                  transition: opacity ease-in 0.2s;
                  &:hover{
                         box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
                         transition: box-shadow .4s ease-in;
                  }
            }
      .project-1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30vw;
            min-width: 20em;
            height: 20em;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            background: url(./SpaceTourist.png);
            background-size: cover;
            
             &:hover{
                   box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
                   transition: all ease-in 0.4s;
                        
                   #title,#caseStudy{
                         opacity: 1;
                         transition: all ease-in 0.3s;
                  }
            }
      }
      
      .project-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30vw;
            min-width: 20em;
            height: 20em;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            background: url(./Loopstudio.jpg);
            background-size: cover;
            
             &:hover{
                   box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
                   transition: all ease-in 0.4s;
                        
                   #title,#caseStudy{
                         opacity: 1;
                         transition: all ease-in 0.3s;
                  }
            }
      }
      .project-3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30vw;
            min-width: 20em;
            height: 20em;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            background: url(./Snap.jpg);
            background-size: cover;
            
             &:hover{
                   box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
                   transition: all ease-in 0.4s;
                        
                   #title,#caseStudy{
                         opacity: 1;
                         transition: all ease-in 0.3s;
                  }
            }
      }
}


@media (min-width: 600px) and (max-width: 1140px) {
     .projects-container{
      width: 100vw;
      display: flex; 
      flex-direction: column;
       #title{
                  position: absolute;
                  top: 16em;
                  z-index: 100;
                  color: black;
                  opacity: 1;
            }
            #caseStudy{
                  opacity: 1;
                  width: 9em;
                  height: 2.5em;
                  border-radius: 20px;
                  font-family: 'Concert One', cursive;
                  font-size: 20px;
                  border: none;
                  position: absolute;
                  top: 30em;
                  z-index: 100;
                  background-color: rgb(68, 182, 205);
                  &:hover{
                         box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
                         transition: box-shadow .2s ease-in;
                  }
            }
      .project-1{
            width: 80vw;
            height: 30em;
            background: url(./SpaceTourist.png);
            background-size: cover;
            background-position: left;
            &:hover{
                  box-shadow: 0 0 0 0 inset;
            }
      }
      .project-2{
            margin-top: 20em;
            width: 80vw;
            height: 30em;
            background: url(./Loopstudio.jpg);
            background-size: cover;
            background-position: left;
            &:hover{
                  box-shadow: 0 0 0 0 inset;
            }
      }
      .project-3{
            margin-top: 20em;
            width: 80vw;
            height: 30em;
            background: url(./Snap.jpg);
            background-size: cover;
            background-position: left;
            &:hover{
                  box-shadow: 0 0 0 0 inset;
            }
      }
}
}


@media (max-width: 600px) {
       .projects-container{
      width: 100vw;
      display: flex; 
      flex-direction: column;
       #title{
                  position: absolute;
                  top: 8em;
                  z-index: 100;
                  color: black;
                  opacity: 1;
            }
            #caseStudy{
                  opacity: 1;
                  width: 9em;
                  height: 2.5em;
                  border-radius: 20px;
                  font-family: 'Concert One', cursive;
                  font-size: 20px;
                  border: none;
                  position: absolute;
                  top: 17em;
                  z-index: 100;
                  background-color: rgb(68, 182, 205);
                  &:hover{
                         box-shadow: 0px 0px 15px 3px rgba(65, 182, 224, 0.9);
                         transition: box-shadow .2s ease-in;
                  }
            }
      .project-1{
            width: 80vw;
            height: 15em;
            background: url(./SpaceTourist.png);
            background-size: cover;
            background-position: center;
            &:hover{
                  box-shadow: 0 0 0 0 inset;
            }
      }
      .project-2{
            margin-top: 15em;
            width: 80vw;
            height: 15em;
            background: url(./Loopstudio.jpg);
            background-size: cover;
            background-position: left;
            &:hover{
                  box-shadow: 0 0 0 0 inset;
            }
      }
      .project-3{
            margin-top: 15em;
            width: 80vw;
            height: 15em;
            background: url(./Snap.jpg);
            background-size: cover;
            background-position: left;
            &:hover{
                  box-shadow: 0 0 0 0 inset;
            }
      }
}
}