.skills-wrapper{
      margin-bottom: 3em;
h2{
      text-align: center;
      font-size: 36px;
      font-family: 'Concert One', cursive;
      letter-spacing: 1px;
      margin-top: 3em;
      color: black;
}
.skills-container{
      margin-top: 7em;
      display: grid;
      justify-content: center;
      align-items: center;
      margin-right: 5em;
      grid-template-columns: 4em 4em 4em 4em 4em 4em;
      grid-gap: 7em;
      grid-template-rows: 40px ;
      #skills{
            width: 8em;
            height: 10em;
            border-radius: 20px;
            text-align: center;
            font-family: 'DM Sans', sans-serif;
            background-color: white;
            filter: grayscale(100%);
            &:hover{
                 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                 transition: all .3s ease-in;
                 filter: none;
            }
            img{
                  width: 4em;
                  margin-top: 1em;
            }
            #js{
                  width: 3em;
            }
            #AE{
                  width: 2.5em;
                  margin-top: 1.5em;
                  margin-bottom: 1em;
            }
            #sass{
                  margin-bottom: .5em;
            }
            #PR{
                  width: 5.5em;
                  margin-bottom: .5em;
            }
            h3{
                  margin-top: 1em;
                  font-size: 1.1em;
            }
            #nodejs{
                  width: 5em;
                  margin-bottom: 1.5em;
            }
      }
}
}

@media (min-width: 600px) and (max-width: 1140px) {
      .skills-wrapper{
            width: 85vw;
            margin-top: 2em;
h2{
      text-align: center;
      font-family: 'Concert One', cursive;
      letter-spacing: 1px;
      margin-top: 2em;
      margin-left: 5%;
}
.skills-container{
      margin-left: 5%;
      width: 85vw;
      margin-top: 3em;
      display: grid;
      grid-template-columns: 20vw 20vw 20vw;
      grid-column-gap: 25px;
      grid-row-gap: 10px;
      grid-template-rows: 8em 8em 8em 8em;
      #skills{
            filter: grayscale(0);
            text-align: center;
            padding-top: .5em;
            color: black;
            text-decoration: none;
            border-radius: 15px;
            height: 10em;
            font-family:'DM sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            pointer-events: none;
      }
}
}
}
@media (max-width: 600px){
      .skills-wrapper{
            margin-top: 2em;
h2{
      text-align: center;
      font-family: 'Concert One', cursive;
      letter-spacing: 1px;
      margin-top: 2em;
}
.skills-container{
      margin-top: 3em;
      margin-left: 15%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 20vw 20vw 20vw;
      grid-column-gap: 25px;
      grid-row-gap: 10px;
      grid-template-rows: 8em 8em 8em 8em;
      #skills{
            filter: grayscale(0);
            text-align: center;
            padding-top: .5em;
            color: black;
            text-decoration: none;
            border-radius: 15px;
            height: 10em;
            font-size: .8em;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            pointer-events: none;
      }
}
}
}