.description {
  width: 100vw;
  height: 40em;
}

.description button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: none;
  font-size: 1.8em;
  position: relative;
  top: 29rem;
  left: 4em;
  -webkit-transform: rotate3d(4, 1, 1.5, -0.18turn);
          transform: rotate3d(4, 1, 1.5, -0.18turn);
  border: 2px solid #3697ba;
  border-radius: 15px;
  width: 5em;
  height: 2em;
  font-family: "Koulen", cursive;
  background-color: #3697ba;
  padding-bottom: 1.7em;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.description button:hover {
  position: absolute;
  top: 2em;
  left: 1.5em;
  width: 6em;
  background-color: #da30c6;
  -webkit-box-shadow: 0px 0px 32px 11px #da30c6;
          box-shadow: 0px 0px 32px 11px #da30c6;
  padding-top: 0.5em;
  border: 2px solid #da30c6;
  font-size: 3em;
  height: 3em;
  -webkit-transform: rotate3d(2, 0, 0, 0.1turn);
          transform: rotate3d(2, 0, 0, 0.1turn);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media (min-width: 600px) and (max-width: 1140px) {
  .description {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .description #projectsBtn {
    border: none;
    background-color: #3697ba;
    font-size: 1.8em;
    position: relative;
    top: 34rem;
    left: 0em;
    -webkit-transform: scaleX(1) scaleY(0.9) scaleZ(1) rotateX(0deg) rotateY(8deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
            transform: scaleX(1) scaleY(0.9) scaleZ(1) rotateX(0deg) rotateY(8deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    border: 2px solid #3697ba;
    border-radius: 15px;
    width: 5em;
    height: 1.5em;
    font-family: "Koulen", cursive;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-box-shadow: 0px 0px 10px 0px #3697ba;
            box-shadow: 0px 0px 10px 0px #3697ba;
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  .description {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .description #projectsBtn {
    border: none;
    background-color: #3697ba;
    font-size: 1.8em;
    position: relative;
    top: 34rem;
    left: 0em;
    -webkit-transform: scaleX(1) scaleY(0.9) scaleZ(1) rotateX(0deg) rotateY(8deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
            transform: scaleX(1) scaleY(0.9) scaleZ(1) rotateX(0deg) rotateY(8deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    border: 2px solid #3697ba;
    border-radius: 15px;
    width: 5em;
    height: 1.5em;
    font-family: "Koulen", cursive;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-box-shadow: 0px 0px 10px 0px #3697ba;
            box-shadow: 0px 0px 10px 0px #3697ba;
    pointer-events: none;
  }
}
/*# sourceMappingURL=description.css.map */