.scroll-wrapper{
      width: 100vw;
      height: 7em;
      display: flex;
      justify-content: center;
.scroll-container{
      cursor: pointer;
      width: 20px;
      height: 40px;
      border-radius: 20px;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      transition: border .3s ease-in;
      margin-top: 2em;
      &:hover{
            border: 2px solid rgb(211, 37, 176);
            transition: border .3s ease-in;
      }
      .scroll-down{
            background-color: white;
            border-radius: 50%;
            width: 7px;
            height: 7px;
            animation: scroll-down 1s ease-in-out infinite;
      }
}
}

@keyframes scroll-down {
      from{
            margin-top: 0rem;
            opacity: 0;
      }
      to{
            margin-top: 1.5rem;
            opacity: 100;
      }
}


@media (max-width: 600px) {
      .scroll-wrapper{
      width: 100vw;
      height: 7em;
      display: flex;
      justify-content: center;
.scroll-container{
      width: 20px;
      height: 40px;
      border-radius: 20px;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      transition: border .3s ease-in;
      margin-top: 1em;
      &:hover{
            border: 2px solid rgb(211, 37, 176);
            transition: border .3s ease-in;
      }
      .scroll-down{
            background-color: white;
            border-radius: 50%;
            width: 7px;
            height: 7px;
            animation: scroll-down 1s ease-in-out infinite;
      }
}
}
}