.menu {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    cursor: pointer;
    border: none;
    margin-right: 1em;
    background: none;
    color: rgb(79, 159, 205);
    font-size: 1.7rem;
    margin-top: -0.5rem;
    z-index: 9999;
  }
 
}
