html,body{
            margin: 0%;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
      }

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.navbar-container{
      display: flex;
      list-style: none;
      position: absolute;
      right: 1em;
      mix-blend-mode: overlay;
            li{
                  list-style: none;
                  margin-right: 3vw;
                  .navlinks{
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 1.1rem;
                        &:hover{
                              color: rgb(29, 162, 219);
                              transition: color .2s ease-in-out;
                              cursor: pointer;
                        }
                  }
            }
      }
      .menu{
                  display: none;
                  
}

@media (max-width: 600px) {
      html,body{
            margin: 0%;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
      }
      .navbar-container{
           display: block;
           z-index: 1000;
           height: 40em;
           width: 70vw;
           left: 40em;
           transition: left ease-in .5s;
           position: fixed;
           color: black;
           background-color: rgb(255, 255, 255);
           top: 0;
           border-bottom-left-radius: 10px;
           border-top-left-radius: 10px;
            li{
                  margin-bottom: 5em;
                  .navlinks{
                  color: black;
                  position: relative;
                  top: 6em;
                  left: 1em;
                  text-align: left;
                  font-family: "Bebas Neue", cursive;
                  font-size: 1.5em;
                  &:hover{
                        color: rgb(59, 159, 189);
                  }
            }
            }
      }

      .navbar-container.active{
           display: block;
           z-index: 1000;
           height: 40em;
           width: 70vw;
           left: 12em;
           transition: left ease-in .5s;
           position: absolute;
           color: black;
           background-color: rgb(255, 255, 255);
           top: 0;
           border-bottom-left-radius: 10px;
           border-top-left-radius: 10px;
      }
      .menu {
            display: block;
            position: fixed;
            top: .5em;
            right: 1em;
            cursor: pointer;
            border: none;
            background: none;
            color: rgb(79, 159, 205);
            font-size: 1.7rem;
            z-index: 9999;
      }
}