html {
  scroll-behavior: smooth;
  width: 100vw;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 200px;
  padding: 0;
  box-sizing: border-box;
}
.home-wrapper {
  width: 100%;
  height: 100%;
  video{
    width: 100%;
    height: 50em;
    object-fit: cover;
    z-index: -1;
    position: absolute;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5em;
  top: 0em;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
}

.about-me-container {
  width: 90vw;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(128, 128, 128, 0.257);
  position: relative;
  top: 20em;
  left: 5%;
  .info-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
  }
}

.projects-wrapper {
  margin-top: 25em;
}

.contact-wrapper{
  margin-top: 15em;
}

.footer-wrapper {
  background-color: black;
  width: 100vw;
  height: 17em;
  margin-top: 10em;
  .footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
  }
}

@media (min-width: 600px) and (max-width: 1140px) {
      html,body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
      }
  .header {
    margin-top: 3em;
    
  }
  .about-me-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-me {
    .info-skills {
      display: flex;
      flex-direction: column;
      margin-top: -3em;
    }
  }

  .projects-wrapper {
    margin-top: 25em;
  }

  .contact-wrapper{
    border-top: 2px solid rgba(0, 0, 0, 0.211);
    margin-top: 20em;
  }

  .footer-wrapper {
    margin-top: 10em;
    width: 100vw;
    height: 15em;
    .footer {
      display: flex;
      justify-content: space-between;
      background-color: black;
      margin-top: 2em;
    }
  }
}

@media (max-width: 600px) {
  .nav-wrapper {
    position: fixed;
    z-index: 1000;
  }

  .nav-wrapper.bg{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background-color: white;
  }
  .home-wrapper {
    width: 100vw;
    height: 30em;
     video{
    width: 100%;
    height: 45em;
    object-fit: cover;
    z-index: -1;
    position: absolute;
  }
  }


.header {
  margin-top: 0em;
}
section {
  margin-top: 10em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .about-me {
    .info-skills {
      display: flex;
      flex-direction: column;
      margin-top: -3em;
    }
  }

  .projects-wrapper {
    margin-top: 25em;
  }

  .contact-wrapper{
    border-top: 2px solid rgba(0, 0, 0, 0.211);
    margin-top: 20em;
  }

  .footer-wrapper {
    margin-top: 10em;
    width: 100vw;
    height: 15em;
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      margin-top: 2em;
    }
  }
}